html, body {
    margin:0;
    padding:0;
    background-color: #4d2600;
  }

h1 {
    text-shadow: 2px 2px #4d2600;
}

main {
    height: 100%;
}

#logo-holder {
    background: url('../images/earworm_logo.png') 0 0 repeat-x;
    width: 150px;
    height: 85px;
    margin:auto;
}

#modal {
    max-width: 90%;
}

.search-box {
    background-color:  #e6e600;
}

.is-custom {
    background-color:  #4d2600;
    border-color: transparent;
    color: #fff;
    margin-bottom: 10px;
}

.is-custom:hover, .clear-buttons:hover {
    color:#e6e600;
}

.title {
    color:  #e6e600;
    text-align: center;
}

.clear-buttons {
    background-color:  #4d2600;
    border-color: transparent;
    color: #fff;
    min-width: 100px;
}

#active, #clear {
    background-color: #e6e600;
    color: #4d2600;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    min-width: 150px;
}

#active {
    margin-top: 20px;
    margin-bottom: 5px;
}

#clear {
    margin-bottom: 20px;

}

#song-label, #album-label, #artist-label {
    display: none;
}

#spotify {
    margin-bottom: 10px;
    text-align: center;
    color:#4d2600;
    ;
}

#auth-btn {
    float: right;
}