html, body {
    margin:0;
    padding:0;
    background-color: #4d2600;
  }

  h1 {
    text-shadow: 2px 2px #4d2600;
  }
main{
    height: 100%;
}

  #logo-holder{
    background: url('../images/earworm_logo.png') 0 0 repeat-x;
    width: 150px;
    height: 85px;
    margin:auto;
}
.search-box{
    background-color:  #e6e600;
}

.button.is-custom {
    background-color:  #4d2600;
    border-color: transparent;
    color: #fff;
}

.title{
    color:  #e6e600;
    text-align: center;
}

.column {
    border: 5px solid black;
}

#active {
    background-color: #e6e600;
    color:#4d2600;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;

}